<h1 class="center">{{title}}</h1>

{{#if patients.length}}
{{#each patients}}
<div class="card mt-3" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">{{name}} {{surname}} {{patronymic}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Год рождения: {{birthDate}}. Адрес: ул. {{street}} {{house}} - {{room}}, Диспансерная группа: {{ill}}</h6>
        <div class="navPanel">
            <a href="/list/{{id}}" target="blank" class="btn-link">Просмотр</a>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>Список пациентов пуст</p>
{{/if}}